@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* light background */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* dark02 font */
.dark-gray{
    color: #424242;
}
/* dark03 */
.gray{
    color:#727272
}
/* dark 03*/
.dark{
    color: rgba(19, 19, 19, 1);
}
/* orange */
.orange{
    color: #FF900E;
}

.primary-btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.primary-btn:hover{
    cursor: pointer;
    background-color: #e68900;
  /* transform: translateY(-3px); */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: 700;
    font-size: 3rem;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
/* banner related styles */
.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;

}
.brand-image{
    width: 100%;
}

/* teams and features related styles */
.teams{
    align-items: center;
}

.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 537px;
}
.features-title{
    font-size: 2.75rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}

.features-description{
    margin-top: 24px;
}
.our-features button{
    margin-top: 32px;
}

/* Some facts section heading starts here */
.facts-heading{
    font-size: 2.85rem;
}
.facts-description{
    font-size: 1rem;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin-top: 146px; */
}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-weight: 700;
    font-size: 2.85rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
}
/* Sponsor related styles */
.sponsor-info{
    max-width: 541px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}
.sponsor-companies img{
    filter: grayscale(100%);
}
.end-message{
    max-width: 1440px;
    height: 100PX;
    background-color: #FFF4E7;
    margin-top: 130px;
    margin-bottom: 210px;
    align-content: center;
    border-radius: 8px;
}
.end-description{
    margin: 39px 410px;
    font-size: 1.20rem;
    font-weight: 500;
}
/* Responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }

.team-image-container, .facts-container, .sponsor-companies{
    grid-template-columns: repeat(1,1fr);
}
.facts-container, .sponsor-companies{
    justify-items: center;
    gap: 24px;
}
.sponsor-companies{
    justify-content: center;
    gap: 50px;
}
.our-features{
    margin-left: 20px;
}
}

/* medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
.teams{
    flex-direction: column;
}    
.our-features{
    margin: 50px auto;
}
.sponsor-companies, .facts-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
}
}