@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
}
/* light background */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* dark02 font */
.dark-gray{
    color: #424242;
}
/* dark03 */
.gray{
    color:#727272
}
.primary-btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.primary-btn:hover{
    cursor: pointer;
    background-color: #e68900;
  /* transform: translateY(-3px); */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: 700;
    font-size: 3rem;
}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
/* banner related styles */
.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-size: 1rem;

}
.brand-image{
    width: 100%;
}

/* Responsive media query */
/* @media screen and (max-width: 576px;) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    
} */\
